@model UrlToVisitor
@{
    ViewData["Title"] = "Engagement Survey Redirection URLs - Edit a URL";
}

@{
    var currentUser = _userManager.GetUserAsync(User).Result;
    var isUserConfirmed = await _userManager.IsEmailConfirmedAsync(currentUser);
}

@{
    if (isUserConfirmed)
    {
        <h1 style="text-align: center;"><strong>@ViewData["Title"]</strong></h1>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Url" class="control-label"></label>
                        <input asp-for="Url" class="form-control" min="1" />
                        <span asp-validation-for="Url" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserType" class="control-label"></label>
                        <select asp-for="UserType" asp-items="Html.GetEnumSelectList<UserType>()" class="form-control"></select>
                        <span asp-validation-for="UserType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger" type="button" onclick="location.href='@Url.Action("Index", "VisitorUrl")'">Cancel</button>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Save
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirm Save Event</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you would like to save the changes made?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script>
            // Remove the "NotFound" value within the dropdown menu
            $(document).ready(function () {
                $("#UserType.form-control option[value='5']").remove();
            });
        </script>
    }
    else
    {
        <body>
            <div>
                <h2>
                    Please confirm your email address before accessing this feature.
                </h2>
            </div>
        </body>
    }
}
