@{
    ViewData["Title"] = "Feedback Survey";
    Layout = "_ExternalLayout";
}

<head>
    <link rel="stylesheet" href="~/css/survey-feedback.css" asp-append-version="true" />
</head>

<div id="form">
    <form asp-controller="Feedback" asp-action="Survey" id="Feedback" method="post">
        <h1 style="text-align: center;"><strong>@ViewData["Title"]</strong></h1>
        <div class="HeaderContainer">
            We appreciate your time and feedback as Yoga 4 Change continues to strive for lasting,
            demonstrative change for veterans, incarcerated individuals, youth, and those in recovery through an
            evidence-based, purpose-driven yoga curriculum.
        </div>

        <div class="QuestionContainer">
            <label class="QuestionTitle">Overall Usefulness of the Visited Webpage</label>
            <input id="input-id" type="text" class="rating rating-loading" data-min="0" data-max="5" data-step="1" data-size="lg" name="rating" required>
        </div>

        <div class="QuestionContainer">
            <label class="QuestionTitle">
                Please provide additional details as to why your rating was that particular value. This will allow
                us to update our site as needed for future visitors.
            </label>
            <input type="text" name="text" />
        </div>

        <input type="hidden" id="currentUrl" name="currentUrl" value="@ViewBag.RefererUrl" />
        <button type="submit" value="Submit" class="btn btn-primary" style="width:100%; padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;">
            Submit
        </button>
    </form>
</div>



<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.20/b-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/sp-1.0.1/datatables.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/js/star-rating.min.js" type="text/javascript"></script>
<script>
    // initialize with defaults
    $("#input-id").rating();

    // with plugin options (do not attach the CSS class "rating" to your input if using this approach)
    $("#input-id").rating({ 'size': 'lg' });
</script>

