@{
    ViewData["Title"] = "Admin Console";
}

<body>
    <div>
        @*<div alt="Reporting">Reporting</div>
        <div alt="SurveyManagement">Survey Management</div>*@

        <img src="~/images/adminConsole.jpg" />
    </div>
</body>