@model SP_Y4C.ViewModels.SurveyEngagementViewModel
@{
    ViewData["Title"] = "Test";
}

<h2>Test</h2>
@{
    foreach (var q in Model.Question)
    {
        <label for=@q.Id>
            <label>@q.Text</label><br>

        @{ foreach (var c in Model.Choice)
            {
                if (q.Id == c.QuestionId)
                {
                <label for=@c.Id>
                    <input type=@q.TypeId />
                    <label>@c.Text</label>
                </label><br>
                    }
                }
            }
         </label><br>
    }
}
