﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}


a {
    text-decoration: none;
}

ul.tree, .tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.tree ul {
    display: none;
}

.tree > li {
    display: block;
    background: #eee;
    margin-bottom: 2px;
}

.tree span {
    display: block;
    padding: 10px 12px;
}

.icon {
    display: inline-block;
}

.tree .hasChildren > .expanded {
    background: #999;
}

    .tree .hasChildren > .expanded a {
        color: #fff;
    }

.icon:before {
    content: "+";
    display: inline-block;
    min-width: 20px;
    text-align: center;
}

.tree .icon.expanded:before {
    content: "-";
}

.show-effect {
    display: block !important;
}

/*Have the */
.dataTables_info {
    text-align: right;
}