.dataTables_info {
    text-align: right;
}

/* This is for the data tables EXCEL And PRINT buttons */
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    margin-right: 5px;
    border-radius: 5px;
}

h1, h2 {
    font-family: NiveauGroteskBold;
    text-decoration: underline;
}

body {
    line-height: 1.6em;
    font-family: P22;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .01em;
    text-transform: none;
    color: #555;
}

body, a, p, span, input, label {
    font-family: NiveauGroteskRegular;
}

@font-face {
    font-family: NiveauGroteskBold;
    src: url('fonts/NiveauGroteskBold.otf') format('opentype');
}

@font-face {
    font-family: NiveauGroteskRegular;
    src: url('fonts/NiveauGroteskRegular.otf') format('opentype');
}