<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>

        @* Related to the datatables plugin *@
        <script src="~/js/jszip.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.20/b-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/sp-1.0.1/datatables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.20/b-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/sp-1.0.1/datatables.min.css" />

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        
        @* Related to the datatables plugin *@
        <script src="~/js/jszip.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.20/b-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/sp-1.0.1/datatables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.20/b-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/sp-1.0.1/datatables.min.css" />

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="AdminConsole" asp-action="Index">Admin</a></li>
                    <li><a asp-area="" asp-controller="Engagement" asp-action="Index">Engagement</a></li>
                    <li><a asp-area="" asp-controller="Reports" asp-action="Index">Survey Reports</a></li>
                    <li><a asp-area="" asp-controller="Reports" asp-action="Feedback">Feedback Reports</a></li>
                    <li><a asp-area="" asp-controller="Questions" asp-action="Index">Question Management</a></li>
                    <li><a asp-area="" asp-controller="VisitorURL" asp-action="Index">URLS</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Index">Accounts</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Today.Year - Yoga 4 Change. All Rights Reserved.</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>